<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    
    {% if title %}
    <title>{{ title }} - {{ label }}</title>
    {% else %}
    <title>{{ label }}</title>
    {{ endif }}

    {% if prev_url %}
    <link rel="prev" href="{{ prev_url }}">
    {% endif %}
    {% if next_url %}
    <link rel="next" href="{{ next_url }}">
    {% endif %}

    {{ header }}
  </head>
  <body data-type="book">
    {% if prev_url %}
    &laquo; <a href="{{ prev_url }}">{{ prev_label }}</a>
    {% endif %}
    
    {{ content }}

    {% if next_url %}
    <a href="{{ next_url }}">{{ next_label }}</a> &raquo;
    {% endif %}
  </body>
</html>